<div class="panel">
    Your id: <strong id="your-id">
        <div class="spinner-border" role="status"></div>
    </strong>
    <div>
        <label for="friend-id">Friend id</label>
        <input type="text" class="form-control iis-valid" id="friend-id" required>
        <!--    <div class="valid-feedback">-->
        <!--        Looks good!-->
        <!--    </div>-->
        <button class="btn btn-primary mt-2" id="connect">
            <span class="d-none spinner-border spinner-border-sm"
                  role="status" aria-hidden="true"></span>
            Connect</button>
    </div>
</div>

<link rel="stylesheet" href="panel/index.css">
